html {
    overflow-y: scroll;
    background: #fff;
    color: #1c000e;
}
body {
    margin: 16px;
    text-align: center;
}
h1 {
    margin: 0 8px 8px;
    font-weight: normal;
    font-size: 30px;
}
h2 {
    margin: 24px 8px;
    font-weight: normal;
    font-size: 24px;
}
small {
    display: block;
    clear: both;
    margin: 0 8px;
}
p,
pre {
    overflow: hidden;
    margin: 16px 0;
}

label {
    float: left;
    width: 60px;
    color: #888;
    text-align: center;
    line-height: 2.125;

}
input,
textarea {
    float: right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 3px 7px 7px;
    width: 204px;
    border: 1px solid #ccc;
}
textarea {
    resize: vertical;
}
select {
    float: right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 3px 7px 7px;
    width: 204px;
    height: 34px;
    border: 1px solid #ccc;
}
a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
a:hover,
a:focus,
a:active {
    color: #0067ce;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.qrcode {
    display: block;
    margin: 24px auto 16px;
    max-width: 100%;
}
.qrcode-link {
    display: table;
    margin: 24px auto 16px;
}
.qrcode-link .qrcode {
    margin: 0;
}
.footer {
    margin: 16px auto;
    width: 290px;
}