<div class="row">
    <div class="well col-xs-10 orderTitle" style="margin-bottom: 50px" >
        <h4> <b> GESTIONE MUSEI </b></h4>

    </div>
    <div class="col-xs-4"  >

    <div class="well sensorsName" ui-sref="home.museiNew">

        <h3 class="menuName ">
            <b>INSERISCI MUSEO</b>
        </h3>

    </div>
</div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.museiUpdate">

            <h3 class="menuName ">
                <b>MODIFICA MUSEO</b>
            </h3>

        </div>
    </div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.museiDelete">

            <h3 class="menuName ">
                <b>ELIMINA MUSEO</b>
            </h3>

        </div>
    </div>

</div>

