<br class="row">
    <div class="well col-xs-10 orderTitle " style="margin-bottom: 50px">
        <h4> <b> GESTIONE OPERA D' ARTE </b></h4>

    </div>


    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.odaNew">

            <h3 class="menuName ">
                <b>NUOVA SCHEDA REPERTO OPERA D'ARTE</b>
            </h3>

        </div>
    </div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.odasUpdate">

            <h3 class="menuName ">
                <b>MODIFICA SCHEDA REPERTO OPERA D'ARTE</b>
            </h3>

        </div>
    </div>






    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.odaDelete">

            <h3 class="menuName ">
                <b>TOGLI DAL CATALOGO</b>
            </h3>

        </div>
    </div>

    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.pubblica">

            <h3 class="menuName ">
                <b>PUBBLICA SCHEDA REPERTO</b>
            </h3>

        </div>
    </div>

<div class="col-xs-4"  >

    <div class="well sensorsName" ui-sref="home.qrcode">

        <h3 class="menuName ">
            <b>GENERA QR-CODE</b>
        </h3>

    </div>
</div>

</div>

