<div class="row">
    <div class="well col-xs-10 orderTitle" >
        <h3> <b> PUBBLICA SCHEDA REPERTO </b></h3>
        </br>
        <h4>SELEZIONA LA SCHEDA DA PUBBLICARE</h4>

    </div>

    <div class="col-xs-4" ng-repeat="oda in opereNonPubblicate |orderBy:'id'" >

        <div class="well menuName sensorsName"  ng-click="pubblica(oda.id)"   >

            <div  >
                <b> {{oda.Titolo}}</b>


                </br>
                </br>
                <b>{{oda.NomeArtista}}    {{oda.CognomeArtista}}</b>
                </br>
                </br>
                <b>{{oda.AnnoPubblicazione}}</b>
            </div>

        </div>
    </div>



</div>