<div class="row" ng-cloak>
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked on-click-make-active">
            <br>
            <br>
            <br>


            <li ui-sref-active="active" ><a  ui-sref="web.viewAll"><b>VISUALIZZA OPERE</b></a></li>

            <br>

            <li ui-sref-active="active" ><a ui-sref="web.viewMusei"><b>ALTRI MUSEI</b></a></li>
            <br>


            <li ui-sref-active="active" ><a ui-sref="login"><b>ACCESSO AREA RISERVATA</b></a></li>

        </ul>
    </div>


    <div class="col-xs-10 border-left">

        <div ui-view></div>
    </div>

</div>