<div class="row">
    <div class="well col-xs-10 orderTitle" style="margin-bottom: 50px">
        <h4> <b> GESTIONE ACCOUNT </b></h4>

    </div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.accountNew">

            <h3 class="menuName ">
                <b>NUOVO ACCOUNT</b>
            </h3>

        </div>
    </div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.accountsUpdate">

            <h3 class="menuName ">
                <b>MODIFICA ACCOUNT</b>
            </h3>

        </div>
    </div>
    <div class="col-xs-4"  >

        <div class="well sensorsName" ui-sref="home.accountDelete">

            <h3 class="menuName ">
                <b>ELIMINA ACCOUNT</b>
            </h3>

        </div>
    </div>

</div>

